<% provide(:title, 'Contact') %>
<h1>Kontakt</h1>
<p>
	<%= image_tag("moje_zdjecie.jpg", :alt => "Autor", :class => "style_image") %>
 
 <br />Autor:
 <br />Marcin Iwanowski
 <br />Kontakt:
 <br />Email: 6alucard@gmail.com
  
</p>
