<div class="row">
  <div class="span6 offset3">
  	Produkt:
<% @product.each do |f|%>

 
<table>
<tr>
<td>Nazwa produktu: <%= f.name %> Cena: <%= f.price %></td>
</tr>
</table>
<% end %>
	</div>
</div>
