
<h1> Nowy Produkt </h1>


<div class="row">
  <div class="span6 offset3">
<%= form_for @product, url: {action: "create"} do |f| %>
  <tr>
    <th>Nazwa produktu</th>
	<td><%= f.text_field :name %></td>
  </tr>

  <tr>
    <th>Cena</th>
	<td><%= f.text_field :price %> </td>
  </tr>
  <%= f.submit "Dodaj", class: "btn btn-large btn-primary"%>
  	<% end %>
  	
	</div>
</div>


  